.failure{
color:red;
}

.success{
color:green;
}

.WebsiteName{
color:#FF6103;
font-size:22px;
font-weight:bold;
}

.WebsiteVer{
color:grey;
font-size:10px;
}

.button{
color:#FF6103;
}